*{margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
}

.header{
   min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(q.jpg);
background-position: center;
background-size:cover;
    
    position: relative;
    
}

nav{
    
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.text-box{
    width :90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left:50%
        transform:translate(-50%,-50%);
         text-align: center;
    }
.text-box h1{
    font-size:62px;
}
.text-box p{
     marging:10px 0 40px;
    font-size: 14px;
    color:#fff;
}

.hero-btn{

display: inline-block;
     text-decoration: none;
     color: white;
  border: 1px solid #fff;
     padding: 26px 26px;
background: trasparent;
    position: relative;
    cursor: pointer;
   border-radius: 2px;
}

.hero-btn:hover {
  background: red;
}
/*----course----*/
.Branch{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
    
}
h1{
    
    
    font-size:36Px;
    font-weight:600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
}
.row{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
        
}
.col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5;
    
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.col:hover{
    
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    
}
/*places*/
.place{
    width:100%;
    margin: auto;
    text-align: center;
     padding-top:50px;
}
.place-col{
    
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.place-col img{
    width:100%;
margin: 20px;
    
  display: block;
}
.layer{
    background :transparent;
    margin: 20px;
    height: 100%;width:100%;
    
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
    
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    
    width:100%;
    font-weight:500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform: translate(-50%);
    position:absolute;
    opacity:0;
    transition:0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity: 1;
    
}

.thank{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
    
}

.thank-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom:5%;
    text-align: left;
    background: #FFF3F3;
    padding: 25px;
    cursor: pointer;
    display: flex;
    
}
.thank-col img{
    height:60px;
    margin-left:25px;
    margin-right: 30px;
    border-radius: 60%;
    
    
}
.thank-col p{
    padding: 0;
    
}
.thank-col h3{
    margin-top: 15px;
    text-align: left;
    
}
.thank-col:hover{
    
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    
}
.cta{
    margin: 100px auto;
    width:90%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)),url(bo.jfif);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    
}
.cta h1{
    color:#fff;
    margin-bottom:40px;
    padding:0;
}
.cta:hover{
    
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);}

.ad{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
    
}
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
    bottom: 0;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}



.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}
a{
text-decoration:none;
color:blue;
}